//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/usr/share/rofi/themes/dmenu.rasi"
@theme "/home/winter/.config/rofi/colors-rofi-dark.rasi"
* {
	font: "JetBrainsMono 12";
}

window {
    anchor:     center;
    location:   center;
    width:      25%;
    height:     25%;
	padding:	5;
    children:   [ horibox ];
    border-radius: 12px;
}

horibox {
    orientation: center;
    children:   [ prompt, entry, listview ];
}

listview {
    layout:     vertical;
    lines:      100;
}

prompt {
	enabled: false;
}
entry {
    expand:     false;
    width:      10em;
}

element {
    padding: 0px 0px;
}
